.port1 {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 44%, rgba(0, 212, 255, 1) 100%);
}

.dashCon{
    flex-direction: column;
}

@media (min-width: 676px) {
    .dashCon{
        flex-direction: row;
    }
}